header {
    font-size: 32px;
    justify-content: right;
}

h1 {
    background-color: lightgrey;
    display: inline;
    font-size: 60px;
}

.banner {
    background-color: darkslategrey;
    height: 120px;
}

nav {
    display: flex;
    padding: 14px 20px;
    justify-content: flex-end;
}

nav a {
    padding 14px 20px;
    text-align: center;
}