header {
    font-size: 32px;
    
    
}

h1 {
    background-color: red;
    display: inline;
    font-size: 60px;
}

.banner {
    background-color: green;
    height: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;
    
   
}

nav ul {
    
}

h2 {
    font-size: 50px;
}


