body {
    background-color: grey;
}

header {
    font-size: 32px;
}

h1 {
    display: inline;
    font-size: 60px;
    color: black;
}

.banner {
    background-color: grey;
    height: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-right: 15px;
}

nav ul {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    color: black;
    font-size: 40px;
}

.hero {
    height: 200px;
    width: 1895px;
    background-image: url("../images/bllue.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    height: 245px;
}

h2 {
    font-size: 50px;
    position: absolute;
    left: 12%;
}

img {
    position: absolute;
    left: 83%;
    
}

p {
    position: absolute;
    left: 25%;
    top: 290px;
    font-size: 25px;
    margin-right: 400px;
}

.aboutmevl {
    border-left: 6px solid darkblue;
    height: 250px;
    position: absolute;
    left: 25%;
    margin-left: -15px;
    top: 300px;
}

h3 {
    font-size: 50px;
    position: absolute;
    left: 17%;
}

.work {
    height: 565px;
}

.workvl {
    border-left: 6px solid darkblue;
    height: 550px;
    position: absolute;
    left: 25%;
    margin-left: -15px;
    top: 575px;
}

h4 {
    font-size: 50px;
    position: absolute;
    left: 10%;
}

.contactmevl {
    border-left: 6px solid darkblue;
    height: 150px;
    position: absolute;
    left: 25%;
    margin-left: -15px;
    top: 1150px;
}

