body {
    background-color: grey;
}

header {
    font-size: 32px;
}

h1 {
    display: inline;
    font-size: 60px;
    color: black;
}

.banner {
    background-color: grey;
    height: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-right: 15px;
}

nav ul {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    color: black;
    font-size: 40px;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("../images/bllue.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
    height: 230px;
}

h2 {
    font-size: 50px;
}

p {
    position: absolute;
    left: 13%;
    top: 305px;
    font-size: 25px;
}

.aboutmevl {
    border-left: 6px solid darkblue;
    height: 250px;
    position: absolute;
    left: 13%;
    margin-left: -15px;
    top: 300px;
}

h3 {
    font-size: 50px;
    position: absolute;
    left: 5%;
}

.work {
    height: 650px;
}

.workvl {
    border-left: 6px solid darkblue;
    height: 500px;
    position: absolute;
    left: 13%;
    margin-left: -15px;
    top: 600px;
}

.contactme {

}

h4 {
    font-size: 50px;
}



